/* =============
    Footer
============= */

.footer{
    font-size: smaller;
    opacity: 80%;
    text-align: center
}


.socialIcons{
    a{
        padding: 3px;
    }
    img{
        height: 20px;
        width: 20px;
    }
}