// /* =============
//     Footer
// ============= */

// .footer{
//     font-weight: 400;
//     font-size: 15px;
//     font-family: var(--font-fam-lora);
//     opacity: 90%;
//     text-align: center;
//     display: grid;

//     .socialIcons{
//         height: 100px;
//         a{
//             padding: 3px;
//         }
//         img{
//             height: 20px;
//             width: 20px;
//         }
//     }

//     

//     h4{
//         font-family: var(--font-fam-lora);
//     }
// }

.footer{
    opacity: 85%;

    .socialIcon{
        height: 25px;
        width: 25px;
    }
    text-align: center;

    padding-bottom: 10px;
}