/* =============
    Header
============= */
header{
    display: grid;
    grid-template-columns: 170px auto;
    background-color: var(--dust);

    h2{
        margin: auto;
        color: var(--yellow);
    }

    a.logo93{
        width: 140px;
        height: 140px;
        border-radius: 10px;
        margin: 15px;
        color: var(--dust);
        background-color: var(--yellow);
        text-decoration: none;
        text-align: center;
        font-family: var(--font-fam-poppins);
    }
    p{
        color: var(--dust);
    }
    
    p.top{
        margin: 0;
        text-transform: uppercase;
        font-size: 37px;
    }
    
    p.mid{
        margin: 0;
        font-size: 60px;
    }
    
    p.bot{
        font-size: 10px;
        text-transform: uppercase;
        margin: 0;
        line-height: 10px;
    }
}