/* =============
    page layout
============= */

.content{ 
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 20px;

    p,li{
        color: white;
    }
}

.page-title{
    padding-left: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
    display: none;
    @include lg{
        display: block;
    }
}

.list-view{
    display: grid;
    grid-template-columns: auto;
    gap: 10px;

}

.dark{
    background-color: var(--darkgrey);
    color: var(--bgcolor);
    @include lg{
        background-color: var(--bgcolor);
        color: var(--darkgrey);
    }
}
.light{
    background-color: var(--bgcolor);
    color: var(--darkgrey);
}

header{
    display: grid;
    grid-template-columns: 170px auto;
    background-color: var(--dust);

    h2{
        margin: auto;
        color: var(--yellow);
    }
}
