/* =============
    page layout
============= */

#main-content-grid{
    padding-bottom: 80px;
    // @include lg{
    //     display: grid;
    //     grid-template-columns: 60% auto;
    //     gap: 16px;
    // }
}

.content{ 
    padding-left: 16px;
    padding-right: 16px;

    p,li{
        color: white;
    }
}

.page-title{
    padding-left: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
    display: none;
    @include lg{
        display: block;
    }
}

.card-deck{
    display: grid;
    grid-template-columns: auto;
    // background-color: brown;
    gap: 10px;
    @include lg{
        grid-template-columns: 50% 50%;
    }
    
    .card{
        // border-style: solid;
        @include lg{
            display: grid;
            grid-template-rows: auto auto;
        }
        .card-img{
            padding-top: 20px;
            padding-bottom: 20px;
            // background-color: brown;
            img{
                display: block;
                margin-left: auto;
                margin-right: auto;
                max-height: 180px;
                @include lg{
                    max-height: 200px;
                }
                
            }
            #afsc{
                content: url("/img/afsc-logo-inverted.png");
                @include lg{
                    content: url("/img/AFSC-removebg-preview.png");
                }
                
            }
        }
        .card-text{
            // background-color: purple;
            padding-left: 16px;
            padding-right: 16px;
            padding-bottom: 20px;
            @include lg{
                max-width: 400px;
                margin-left: auto;
                margin-right: auto;
            }
        }
        a{
            margin-bottom: auto;
            margin-top: auto;
        }
    }
}

.dark{
    background-color: var(--darkgrey);
    color: var(--bgcolor);
    @include lg{
        background-color: var(--bgcolor);
        color: var(--darkgrey);
    }
}
.light{
    background-color: var(--bgcolor);
    color: var(--darkgrey);
}

header{
    display: grid;
    grid-template-columns: 170px auto;
    background-color: var(--dust);

    h2{
        margin: auto;
        color: var(--yellow);
    }
}