/* =============
    Navigation
============= */
.navbar {
    position: sticky;
    left: 0;
    top: 0;
    background-color: var(--bgcolor);

    padding-top: 15px;
    padding-bottom: 10px;
    font-weight: 700;
    width: 100%;
    gap: 5px;
    display: grid;
    grid-template-rows: 70px;
    grid-template-columns: auto;
    grid-template-areas:
        "h cl"
        "a ."
        "p ."
        "s ."
        "r .";
        // "c .";

    // @include md{
    //     grid-template-rows: 100px;
    //     grid-template-areas:
    //     "h  h  h  h  a  p  s  r  c";
    // }
    @include lg{
        grid-template-rows: 150px;
        grid-template-areas:
        // "h  h  h  h  a  p  s  r  c";
        "h  h  h  h  a  p  s  r";
    }

    .nav-header {
        margin-left: 16px;
        h1{
            font-weight: 700;
            color: var(--darkgrey);
            font-size: 40px;
            @include lg{
                font-size: 65px;
            }
        }
    }

    .nav-item {
        margin-left: 16px;
        height: 30px;
        text-align: left;
        font-size: 13px;
        align-items: flex-end;
        display: none;
        // @include md{
        //     text-align: center;
        //     display: grid;
        //     padding: 45px 0;
        //     font-size: 20px;
        // }
        @include lg{
            display: grid;
            padding: 80px 0;
            font-size: 20px;
        }
        color: var(--darktan);
    }

    .active-nav-item{
        margin-left: 16px;
        height: 30px;
        text-align: left;
        font-size: 13px;
        // padding-top: 15px 0;
        // padding-bottom: 0;
        display: none;
        // @include md{
        //     text-align: center;
        //     display: grid;
        //     padding: 45px 0;
        //     font-size: 20px;
        // }
        @include lg{
            display: grid;
            padding: 80px 0;
            font-size: 20px;
        }
        color: var(--darkgrey);
    }

    .collapse-nav-btn{ 
        margin-right: 16px;
        height: 20px;
        width: 20px;
        justify-self: right;
        padding: 10px;
        margin-top: 32px;    
        color: var(--darkgrey);
        @include lg{
            display: none;
        }
    }

    a:hover, a:active{
        color: var(--darkgrey);
    }
}

#header{
    grid-area: h;
}

#about{
    grid-area: a;
}

#association{
    grid-area: s;
}

// #contact{
//     grid-area: c;
// }

#resume{
    grid-area: r;
}

#projects{
    grid-area: p;
}

#collapse{
    grid-area: cl;
}