.tab-navbar{
    background-color: var(--yellow);
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 80px;
    display: grid;
    grid-template-columns: repeat(5, 20vw);

    .tab-item{
        text-decoration: none;
        font-family: var(--font-fam-poppins);
        color: var(--tan);
        text-align: center;
        padding-top: 5px;
        font-size: 13px;
        font-weight: 600;

        img{
            padding-top: 5px;
            height: 40px;
        }
    }

    a:hover{
        color: var(--dust)
    }

    .active{
        color: var(--dust);
    }

}
