/* =============
    Base
============= */

.content-grid{
    display: grid;
    grid-template-columns: auto;
    grid-template-areas: "content";

    @include md{
        grid-template-columns: 20px auto 20px;
        grid-template-areas: ". content .";
    }
    @include xl{
        grid-template-columns: auto 1200px auto;
        grid-template-areas: ". content .";
    }

    .content-grid-item{
        grid-area: content;
    }
}
  
a{
    text-decoration: none;
}

a.logo93{
    width: 140px;
    height: 140px;
    border-radius: 10px;
    margin: 15px;
    color: var(--dust);
    background-color: var(--yellow);
    text-decoration: none;
    text-align: center;
    font-family: var(--font-fam-poppins);
}

p.top{
    margin: 0;
    text-transform: uppercase;
    font-size: 37px;
}

p.mid{
    margin: 0;
    font-size: 60px;
}

p.bot{
    font-size: 10px;
    text-transform: uppercase;
    margin: 0;
    line-height: 10px;
}

body{
    background-color: var(--white);
    font-family: var(--font-fam-lora);
}

h1,h2,h3,h4{
    font-family: var(--font-fam-poppins);
    font-weight: 900;
}

p{
    font-weight: 300;
}

