/* =============
    Base
============= */

.content-grid{
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". content .";

    @include xl{
        grid-template-columns: auto 1200px auto;
    }

    .content-grid-item{
        grid-area: content;
    }

}
  
a{
    text-decoration: none;
  }

body{
    background-color: var(--bgcolor);
}
