/* =============
    Variables
============= */
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;600&family=Poppins:wght@600;800&display=swap');


// Define the breakpoints
// Small tablets and large smartphones
$screen-sm-min: 400px;

// Small tablets
$screen-md-min: 785px;

// Large tablets and small desktops
$screen-lg-min: 1024px;

// Large desktops
$screen-xl-min: 1200px;

// Colors vars
:root {
  --black: #000000;
  --white: #ffffff;
  --bgcolor: #ece7e2;
  --darkbgcolor: #70798C;
  --darktan: #A99985;
  --midgrey: #5e5650;
  --darkgrey: #252323;
  --font-fam-lora: 'Lora', serif;
  --font-fam-poppins: 'Poppins', sans-serif;
  --yellow: #fee01c;
  --tan: #9D9065;
  --dust: #22211F;
  --cream: #FFF9E8;
}

